
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* Form */
.login {
  display: flex;
 min-height: 85vh;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
   background:  url("E:\gtu\React\react js\react js\demo_design\frontend\src\components\images\login.jpg") no-repeat center center / cover;
}

.form-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.form-box .icon3 {
  background: purple;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 20px;
}
.remembers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 12px 0;
  font-size: 14px;
  color: #555;
}


.form-box h2 {
  margin-bottom: 20px;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-box button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-box button:hover {
  background: #1d4ed8;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
}

.links {
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #1a73e8;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

@media(max-width:768px)
{
  .form-container{
    margin-top: 30px;
     padding: 100px;
   
  }
}