.change-password-container {
       box-shadow: 0 4px 10px rgba(136, 77, 100, 0.1);
  background: #d4cdcd;
  padding: 30px;
  border-radius: 8px;
  margin-top: 20px;
  height: 500px;
}

.change-password-container h3{
    margin-left: 250px;
    margin-bottom: 20px;
}

.password-form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 250px;
}

.password-form label {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.password-form input {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #141414;

}

.update-button {
  margin-top: 45px;
  height: 40px;
  padding: 10px 20px;
  background: #2979ff;
  color: white;
  border: none;
  border-radius: 5px;
}
